/* Zera as margens e preenchimentos padrão, e define a modelagem da caixa como border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estiliza o corpo da página */
body {
    min-height: 100vh;
    background-color: hsl(236, 69%, 11%);
    display: grid;
    place-items: center;
}

/* Estiliza a calculadora */
.calculator {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

/* Estiliza a tela da calculadora */
.screen {
    grid-column: 1 / -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

/* Estiliza os botões da calculadora */
.btn {
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Estiliza o botão de zero para ter um tamanho menor */
#zero {
    font-size: 1rem;
}

/* Efeito hover nos botões */
.btn:hover {
    background-color: #090c31;
}

/* Estiliza o botão de igual para ocupar duas linhas e tem uma cor especial */
#equals {
    grid-row: span 2;
    background-color: #e6394a;
}

/* Efeito hover no botão de igual */
#equals:hover {
    background-color: #e65766;
}

/* Estiliza um ponto maior */
.larger-dot {
    font-size: 24px;
}
